.banner {
  background: url("https://a0.muscache.com/im/pictures/4b5b2c9e-9d97-4fb7-8826-1529dacb13df.jpg?im_w=1680")
    center center;
  width: 1359.2px;
  height: 417px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.banner__info {
  color: white;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__info > h1 {
  font-size: 27px !important;
  line-height: 30px !important;
  font-weight: 600 !important;
  white-space: pre-line !important;
}

.banner__info > h5 {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 400 !important;
  white-space: pre-line !important;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  color: #ff7779 !important;
  font-weight: 600 !important;
  text-transform: inherit !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.banner__info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: white;
  color: #ff7779;
}

.banner__info > h5 {
  margin-top: 10px;
}
